.input {
  display: inline-block;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 2;
  text-overflow: ellipsis;

  font: 16px "Times New Roman";
  color: black;

  &:disabled {
    background-color: #eeeeee;
  }

  &_labeled {
    margin-top: 8px;
  }
}
