<div class="field">
  <label for="name" class="label">{{t "kb.fields.name"}}</label>
  <Input id="name" @type="text" placeholder="Name" @value={{@kb.name}} @class="input is-small" />
</div>
<div class="field">
  <label for="description" class="label">{{t "kb.fields.description"}}</label>
  <Textarea id="description" placeholder="Description" @value={{@kb.description}} @class="textarea is-small" />
</div>