<div class="table__header">
  <div class="table__header-item kb-table__item">
    <span class="table__header-text">Name</span>
  </div>
  <div class="table__header-item kb-table__item">
    <span class="table__header-text">Description</span>
  </div>
  <div class="table__header-item kb-table__item">
    <span class="table__header-text">Creation Date</span>
  </div>
  <div class="table__header-item kb-table__item">
    <span class="table__header-text">Modify Date</span>
  </div>
  <div class="table__header-item kb-table__item">
    <span class="table__header-text">Actions</span>
  </div>
</div>
{{#if @showActionBar}}
<div class="table__bar">
  <div class="table__search-container kb-table__search-container">
    <div class="field">
      <div class="control has-icons-right">
        <Input placeholder="Filter" @class="input is-small" @type="text" @value={{@query}} />
        <span class="icon is-right">
          <FaIcon @icon="search" />
        </span>
      </div>
    </div>
  </div>
  <div class="table__actions kb-table__actions">
    <button type="button" class="button is-primary is-small" {{on 'click' @addKb}}>
      <span class="icon">
        <FaIcon @icon="plus-square" />
      </span>
    </button>
  </div>
</div>
{{/if}}