@use "sass:math";

@import "ember-power-select";
@import "bulma";
@import "sweetalert2";

@import "./scss/global";
@import "./scss/variables";
@import "./scss/utils";

@import "./overrides/overrides";

@import "./blocks/nav-bar";
@import "./blocks/spinner-cube";
@import "./blocks/base-editor";
@import "./blocks/game-panel";
@import "./blocks//game-field";

@import "./blocks/kb-table";
@import "./blocks/rule-table";
@import "./blocks//variable-table";
@import "./blocks/domain-table";

@import "./blocks/tree";

.graph {
	height: $graph-height;
	width: $graph-width;
}

.ember-application {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.main {
		flex: 1;
	}
}
