@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

@import "./scss/global.scss";
@import "./scss/variables";

@import "./common/input.scss";
@import "./common/label.scss";

@import "./overrides/overrides.scss";

@import "./blocks/navbar.scss";
@import "./blocks/login-form.scss";

@import "./blocks/spinner-cube.scss";
@import "./blocks/frame-editor.scss";
@import "./blocks/frame-base.scss";
@import "./blocks/game-panel.scss";
@import "./blocks//game-field.scss";

@import "./blocks/table.scss";
@import "./blocks/kb-table.scss";
@import "./blocks/domain-table.scss";
@import "./blocks/slot-table.scss";

@import "./blocks/form.scss";

#graph {
	height: 300px;
	width: 100%;
}

.slot__production {
	width: 380px;
	height: 120px;
}
