.domain-table {
	$name-column-width-mobile: 35%;
	$type-column-width-mobule: 30%;
	$actions-column-width-mobile: 35%;

	$index-column-width: 5%;
	$name-column-width: 30%;
	$description-column-width: 35%;
	$type-column-width: 10%;
	$actions-column-width: 20%;

	@include until($tablet) {
		&__index-column {
			display: none;
		}

		&__name-column {
			width: $name-column-width-mobile;
		}

		&__description-column {
			display: none;
		}

		&__type-column {
			width: $type-column-width-mobule;
		}

		&__actions-column {
			width: $actions-column-width-mobile;
		}
	}

	@include from($tablet) {
		&__index-column {
			width: $index-column-width;
		}

		&__name-column {
			width: $name-column-width;
		}

		&__description-column {
			width: $description-column-width;
		}

		&__type-column {
			width: $type-column-width;
		}

		&__actions-column {
			width: $actions-column-width;
		}
	}
}
