.domain-table {
	$column-width: 20%;

	&__header-item {
		width: $column-width;
	}

	&__search-container {
		width: $column-width;
	}

	&__actions {
		width: $column-width;
	}

	&__cell {
		width: $column-width;
	}
}
