.frame-editor {
	$frame-editor-nav-bg-color: #252f3f;
	$frame-editor-nav-link-color: #d2d6dc;
	$frame-editor-nav-link-active-color: white;
	$frame-editor-nav-ling-active-bg-color: #2d3748;
	$frame-editor-nav-ling-hover-bg-color: #4a5568;

	display: flex;
	flex-direction: column;

	&__navbar {
		display: flex;
		flex-direction: column;
		@include from($tablet) {
			flex-direction: row;
		}
		background-color: $frame-editor-nav-bg-color;
	}

	&__navbar-link-container {
		padding: 0px 12px;
		margin: 6px 0px;
	}

	&__navbar-link {
		display: block;
		padding: 12px;
		color: $frame-editor-nav-link-color;

		&.active {
			background-color: $frame-editor-nav-ling-active-bg-color;
			color: $frame-editor-nav-link-active-color;
			border-radius: 5px;
		}

		&:hover {
			background-color: $frame-editor-nav-ling-hover-bg-color;
			color: $frame-editor-nav-link-active-color;
			border-radius: 5px;
		}
	}

	&__navbar-link-text {
		margin-left: 5px;
	}

	&__content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	&__graph {
		border: $default-border;
	}

	&__selected-frame {
		flex-grow: 1;
	}

	&__frame {
		margin: 0px 20px;
	}

	&__game-panel {
		display: flex;
		flex-direction: row;
		margin: 5px 10%;
	}
}
