.game-panel {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5px;

	&__element {
		border: $default-border;
	}

	&__service-panel {
		align-items: center;
		border: $default-border;
		display: flex;
		flex-direction: row;
		padding: 10px;
	}
}
