.slot-table {
	$column-width: 16.6%;

	&__item {
		width: $column-width;
	}

	&__search-container {
		width: $column-width;
	}

	&__actions {
		width: $column-width;
	}

	&__cell {
		width: $column-width;
	}
}
