.table {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &__header {
    display: flex;
    flex-direction: row;
    border-top: $default-border;
  }

  &__header-item {
    padding: 10px 0px;
    text-align: center;
  }

  &__search-input {
    margin-left: 10px;
  }

  &__bar {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    border-top: $default-border;
  }

  &__actions {
    text-align: center;
  }

  &__row {
    display: flex;
    flex-direction: row;
    border-top: $default-border;

    &:hover {
      background-color: $table-hover-color;
    }

    &:last-child {
      border-bottom: $default-border;
    }
  }

  &__cell {
    padding: 10px 0px;
    text-align: center;
  }
}
