<div class="container my-3">
	<Account::AuthenticationForm @authenticate={{this.authenticate}} @isLoading={{this.isLoading}} />
	{{#if this.serverErrorMessage}}
		<div class="notification mt-3 is-danger is-light">
			{{this.serverErrorMessage}}
		</div>
	{{/if}}
</div>