<div class="table__header">
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Name</span>
  </div>
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Domain</span>
  </div>
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Default Value</span>
  </div>
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Production</span>
  </div>
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Inherited</span>
  </div>
  <div class="table__header-item slot-table__item">
    <span class="table__header-text">Actions</span>
  </div>
</div>
{{#if @showActionBar}}
<div class="table__bar">
  <div class="table__search-container slot-table__search-container">
    <Input id="search_str" placeholder="Filter" @class="input table__search-input" @type="text" @value={{@query}} />
  </div>
  <div class="table__actions slot-table__actions">
    <button type="button" class="table__add-btn" {{on 'click' @addSlot}}>
      <FaIcon @icon="plus-square" />
    </button>
  </div>
</div>
{{/if}}