<Rule::Form
	@rule={{this.currentRule}}
	@onSubmit={{this.save}}
	@onCancel={{this.cancelChanges}}
/>
{{#if this.serverErrorMessage}}
	<div class="notification mt-3 is-danger is-light">
		{{this.serverErrorMessage}}
	</div>
{{/if}}