<div class="box">
	<article class="message is-info">
		<div class="message-header">
			<p>
				{{this.model.name}}
			</p>
		</div>
		<div class="message-body">
			<p>
				{{this.model.description}}
			</p>
			{{#each this.baseInformation as |infoSlot|}}
				<p>
					<strong>
						{{infoSlot.name}}
					</strong>
					:
					<span>
						{{infoSlot.value}}
					</span>
				</p>
			{{/each}}
		</div>
	</article>
</div>