<div class="frame-editor">
  <ul class="frame-editor__navbar">
    <li class="frame-editor__navbar-link-container">
      <LinkTo @route="app.frame-base.index" class="frame-editor__navbar-link">
        <FaIcon @icon="info" /><span class="frame-editor__navbar-link-text">Information</span>
      </LinkTo>
    </li>
    <li class="frame-editor__navbar-link-container">
      <LinkTo @route="app.frame-base.editor" class="frame-editor__navbar-link">
        <FaIcon @icon="clipboard" /><span class="frame-editor__navbar-link-text">Editor</span>
      </LinkTo>
    </li>
    <li class="frame-editor__navbar-link-container">
      <LinkTo @route="app.frame-base.domains" class="frame-editor__navbar-link">
        <FaIcon @icon="th-list" /><span class="frame-editor__navbar-link-text">Domains</span>
      </LinkTo>
    </li>
    <li class="frame-editor__navbar-link-container">
      <LinkTo @route="app.frame-base.play" class="frame-editor__navbar-link">
        <FaIcon @icon="play" /><span class="frame-editor__navbar-link-text">Play</span>
      </LinkTo>
    </li>
  </ul>
  <div class="frame-editor__content">
    {{outlet}}
  </div>
</div>